.App {
  text-align: center;
  display: flex;
    flex-wrap: wrap;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb80;
}



.WeekBoard {
 width: 98%;
 height: 80vh;
 background: #61dafb;
 margin: auto;
 min-height: 200px;
 overflow-y:auto;
 float: right;
}

.DayChart {
  box-sizing: border-box;
  height: 100%;
  width: 18%;
  border: 1px solid black;
  float: left;
}

.DayHeadder {
  border-bottom: 1px solid black;
  min-height: 30px;
  height: 5%
}

.DayTimeSlots{
  height: 95%
  
}

.TimeSlot{  
  box-sizing: border-box;
  float: none;
  border: 1px solid black;
  display: flex;
  min-height: 36px;
}



.TimeSlot:nth-child(even) {background: rgb(255, 255, 255)}
.TimeSlot:nth-child(odd) {background: rgb(216, 216, 216)}
.TimeSlot.candrop:nth-child(even) {
   background-color: rgb(159, 255, 191) !important;
}
.TimeSlot.candrop:nth-child(odd) {
   background-color: rgb(146, 212, 162) !important;
}

.TimeSlotLabel{
  text-align: left;
  position:absolute;
}

.Event{
  height:90%;
  width:95%;
  vertical-align:top;
  padding-top:10px;
  margin: auto auto;
  box-sizing: border-box;
  float: none;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 10px;
  text-align: left;
  box-shadow: 0 1px 3px rgba(106,115,125,0.3);
  border: 1px #e1e4e8 solid!important;
}

.backlogList > .Event {
  height:20%;
}

.OptionsBar {
  width: 100%;
}

.backlog {
  float: left;
  background-color: burlywood;
  height: 80vh;
  width: 30%;
  margin: auto;
  min-height: 200px;
  overflow-y:auto;
}

.backlogHeadder {
  height: 5%;
}
.backlogList {
  background-color: blueviolet;
  width: 100%;
  height: 95%
}
.backlogList.candrop:nth-child(even) {
  background-color: rgb(159, 255, 191) !important;
}

.TimeBar{
  box-sizing: border-box;
  height: 100%;
  width: 10%;
  border: 1px solid black;
  float: left;
}
.TimeBarslots{
  height: 95%;
}
.TimeBarSlot{
  box-sizing: border-box;
  float: none;
  border: 1px solid black;
  display: flex;
  min-height: 36px;
}

.EventDeletebutton{
  float: right;

}

.EventTitle{
  float: left;
}
.today{
  font-weight: bold;
}